.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    z-index: 1;
}
.pokemon .number{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}
.pokemon .name{
    color: #000000;
    margin-bottom: .25rem;
    text-transform: capitalize;
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.pokemon .detail .types .type{
    color: #000000;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .680rem;
    border-radius: 1rem;
    text-transform: capitalize;
    filter: brightness(1);
    text-align: center;
}
.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #000;
    padding: 0.4rem 1rem;
    font-size: 0.625rem;
    z-index: 2;
}
.pagination button img{
    width: 80%;
    height: 3vh;
}
.pagination button:hover{
    background-color: #515a9e;
}

.card-info-top{
    height: 50vh;
    color: #fff;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}
.card-info-top .name{
    font-size: 1.7rem;
    text-align: left;
    width: 130px;
    font-weight: bold;
    padding: 0 .5rem;
}
.card-info-top .number{
    justify-self: flex-end;
    position: absolute;
    top: 40px;
}
.card-info-top .detail .types{
    display: flex;
    width: 130px;
    margin-top: .5rem;
    justify-content: space-around;
    font-size: 0.675rem;
}.card-info-top .detail .types li{
    background-color: #61E2C8;
    padding: 0.4rem 0.9rem;
    border-radius: 2rem;
    filter: brightness(1);
}
.card-info-top .detail img{
    width: 50%;
    position: relative;
    margin-top: 70px;
    z-index: 1;
    left: 70px;
}
.info-Details{
    height: 55vh;
    width: 100vw;
    background-color: #ffffff;
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
@media screen and (max-width: 376px) {
    .pokemons{
        grid-template-columns: 1fr ;
    }
}
@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.remover{
    display: none;
}